@font-face {
  font-family: "Rubik";
  src: url("./Components/Fonts/Rubik-Regular.ttf");
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik";
  height: 100vh;
  width: 100vw;
  background-color: hsl(226, 43%, 10%);
}

@media (max-width: 737px) {
  .App {
    overflow-y: visible;
    padding: 200px 0;
  }
}